<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::body}, 'cart')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--Order Details-->
    <div class="row mt-5" style="width: 55rem; margin-left: -6.5rem;">
        <div class="col-md-12">
            <h1 style="font-size: 18px; font-weight: 800;">Your Cart Details</h1>
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <table class="table table-striped table-bordered">
                        <thead class="bg-dark" style="color: white">
                        <tr>
                            <td style="width: 200px"></td>
                            <td style="width: 200px">Product</td>
                            <td style="width: 100px">Price</td>
                            <td style="width: 100px">Quantity</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <img src="#" th:src="@{/images/mobile1.jpg}" alt="" width="60px" height="60px">
                            </td>
                            <td>Laptop Lenovo</td>
                            <td>450$</td>
                            <td>
                                <a href="#">-</a>
                                <span>3</span>
                                <a href="#">+</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" th:src="@{/images/mobile1.jpg}" alt="" width="60px" height="60px">
                            </td>
                            <td>Laptop Lenovo</td>
                            <td>450$</td>
                            <td>
                                <a href="#">-</a>
                                <span>3</span>
                                <a href="#">+</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" th:src="@{/images/mobile1.jpg}" alt="" width="60px" height="60px">
                            </td>
                            <td>Laptop Lenovo</td>
                            <td>450$</td>
                            <td>
                                <a href="#">-</a>
                                <span>3</span>
                                <a href="#">+</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h1 class="card-title"
                                    style="font-size: 16px; font-weight: 600; font-family: sans-serif;">Cart Totals</h1>
                            </div>
                            <div class="card-body">
                                <h2 style="font-size: 16px; font-weight: 500; font-family: sans-serif;">Products
                                    (<span>5</span>)
                                </h2>
                                <p>Total Cost: 500$</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a href="#"
                       th:href="@{'/roble_elco/checkout'}"
                       class="btn btn-primary"
                        style="font-size: 14px; font-weight: 700;">Proceed To CheckOut</a>
                </div>
            </div>
        </div>
    </div>
    <!--END ORDER DETAILS-->

</body>
</html>