<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::body}, 'cart')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <section>
        <h4 th:unless="${#lists.isEmpty(listCarts)}">Billing Address</h4>
        <div class="container-fluid">
            <!--/*@thymesVar id="customer" type="com.roble.springproject.RobleElectronic.models.Customer"*/-->
            <div class="row" th:unless="${#lists.isEmpty(listCarts)}">
                <div class="col-sm-8">
                    <form th:object="${customer}" method="post">

                        <div th:if="${#fields.hasErrors('*')}"  class="alert alert-danger">
                            <p>Please Correct The Errors Below!.</p>
                        </div>

                        <div class="form-group row">
                            <label th:for="firstName" class="col-sm-3 col-form-label">First Name <b style="color:red;">*</b></label>
                            <div class="col-sm-9" th:class="${#fields.hasErrors('firstName')}
                                                    ?'col-sm-9 alert-danger':'col-sm-9'">
                                <input type="text"
                                       th:field="*{firstName}"
                                       class="form-control"
                                       placeholder="First Name"
                                       th:errorclass="invalid">
                                <span class="form-text" th:if="${#fields.hasErrors('firstName')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label th:for="lastName" class="col-sm-3 col-form-label">Last Name <b style="color:red;">*</b></label>
                            <div class="col-sm-9" th:class="${#fields.hasErrors('lastName')}
                                                    ?'col-sm-9 alert-danger':'col-sm-9'">
                                <input type="text"
                                       th:field="*{lastName}"
                                       class="form-control"
                                       placeholder="Last Name"
                                       th:errorclass="invalid">
                                <span class="form-text" th:if="${#fields.hasErrors('lastName')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label th:for="country" class="col-sm-3 col-form-label">Country <b style="color:red;">*</b></label>
                            <div class="col-sm-9" th:class="${#fields.hasErrors('country')}
                                                    ?'col-sm-9 alert-danger':'col-sm-9'">
                                <input type="text"
                                       th:field="*{country}"
                                       class="form-control"
                                       placeholder=""
                                       th:errorclass="invalid">
                                <span class="form-text" th:if="${#fields.hasErrors('country')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('country')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label th:for="address" class="col-sm-3 col-form-label">Address <b style="color:red;">*</b></label>
                            <div class="col-sm-9" th:class="${#fields.hasErrors('address')}
                                                    ?'col-sm-9 alert-danger':'col-sm-9'">
                                <input type="text"
                                       th:field="*{address}"
                                       class="form-control"
                                       placeholder=""
                                       th:errorclass="invalid">
                                <span class="form-text" th:if="${#fields.hasErrors('address')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('address')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label th:for="city" class="col-sm-3 col-form-label">City <b style="color:red;">*</b></label>
                            <div class="col-sm-9" th:class="${#fields.hasErrors('city')}
                                                    ?'col-sm-9 alert-danger':'col-sm-9'">
                                <input type="text"
                                       th:field="*{city}"
                                       class="form-control"
                                       placeholder=""
                                       th:errorclass="invalid">
                                <span class="form-text" th:if="${#fields.hasErrors('city')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('city')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label th:for="zipcode" class="col-sm-3 col-form-label">Zipcode <b style="color:red;">*</b></label>
                            <div class="col-sm-9" th:class="${#fields.hasErrors('zipcode')}
                                                    ?'col-sm-9 alert-danger':'col-sm-9'">
                                <input type="text"
                                       th:field="*{zipcode}"
                                       class="form-control"
                                       placeholder=""
                                       th:errorclass="invalid">
                                <span class="form-text" th:if="${#fields.hasErrors('zipcode')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('zipcode')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label th:for="email" class="col-sm-3 col-form-label">Email <b style="color:red;">*</b></label>
                            <div class="col-sm-9" th:class="${#fields.hasErrors('email')}
                                                    ?'col-sm-9 alert-danger':'col-sm-9'">
                                <input type="text"
                                       th:field="*{email}"
                                       class="form-control"
                                       placeholder=""
                                       th:errorclass="invalid">
                                <span class="form-text" th:if="${#fields.hasErrors('email')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label th:for="phoneNumber" class="col-sm-3 col-form-label">Phone <b style="color:red;">*</b></label>
                            <div class="col-sm-9" th:class="${#fields.hasErrors('phoneNumber')}
                                                    ?'col-sm-9 alert-danger':'col-sm-9'">
                                <input type="text"
                                       th:field="*{phoneNumber}"
                                       class="form-control"
                                       placeholder=""
                                       th:errorclass="invalid">
                                <span class="form-text" th:if="${#fields.hasErrors('phoneNumber')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success btn-lg ">Proceed To Payments</button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <div class="order--details">
                        <div class="order--details_title">
                            <h3>Your Order Details</h3>
                        </div>
                        <div class="order">
                            <div class="order--head">
                                <h4>Product Name</h4>
                                <h4>Quantity</h4>
                                <h4>Price</h4>
                            </div>
                            <hr />
                            <div class="order--body" th:each="cart : ${listCarts}">
                                <!--/*@thymesVar id="cart" type="com.roble.springproject.RobleElectronic.models.ShoppingCart"*/-->
                                <p th:text="${cart.getProduct().getName()}">Microsoft Xbox One s</p>
                                <p th:text="${cart.getQuantity()}">3</p>
                                <p th:text="${cart.getSubtotalPrice()}">$777.00</p>
                            </div>
                            <div class="order--body">
                                <h4>Totals:
                                    <small style="fontSize: '14px'; fontWeight:'400'; marginLeft: '10px'" th:text="${totalCartsPrice}">$846.00</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${#lists.isEmpty(listCarts)}" style="height: 50vh;">
                <h3>You haven't chosen any product yet.</h3>
            </div>

        </div>
    </section>


</body>
</html>