<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::body}, 'productDetails')}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

  <div clas="container-fluid">

    <br/>
    <div class="alert alert-secondary">
      <span>
        <a href="#" th:href="@{'/roble_elco'}">Home</a>
      </span> /
      <span>
        <a href="#" th:text="${product.getCategory().getDescription()}">category</a>
      </span> / <span th:text="${product.getName()}"></span>
    </div>

    <div class="row m-5 p-3">
      <th:block>
        <div class="col-sm-4">
          <img src=""
               class="img-fluid"
               th:src="@{'/roble_elco/admin/product/' + ${product.getId()} + '/productImage'}"
               alt=""
               width="150px" height="140px" style="border-radius: 10px;">
        </div>
        <div class="col-sm-6">
          <h2 th:text="${product.getName()}">Product Name</h2>
          <p th:text="'Brand: ' + ${product.getBrand()}">Product Brand</p>
          <p th:text="'Price: ' + ${product.getPrice()} + '$'">Product Price</p>
        </div>
        <div class="col-sm-2" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div>
            <span style="color: green">In Stock</span>
          </div>
          <div>
            <input type="text"
                   th:value="${product.getInStock()}"
                   class="form-control"
                   onkeydown="return false;"
                   style="max-width: 55px" />
          </div>
          <div>
            <a
                    href="#"
                    th:href="@{'/roble_elco/products/' + ${product.getId()} + '/addToCart'}"
                    class="btn btn-primary"
                    style="margin-top: 20px;
                            margin-bottom: 20px;
                            font-size: 14px;
                            font-family: sans-serif;
                            font-weight: 500; margin-left: 10px; ">Add to Cart</a>
          </div>
        </div>
      </th:block>
    </div>
    <hr />
    <div class="row justify-content-center">
      <th:block>
        <div class="col-8">
          <h2>Description</h2>
          <p th:text="${product.getDescription()}">description!</p>
        </div>
      </th:block>
    </div>

    <br /><br/>
    <hr>
    <h4>You may be also interest</h4>
  </div>

</body>
</html>